pre{
    background-color: rgba(2, 2, 2, 0.9);
    color: white;
    font-family: Consolas;
    padding: 2vh 4vh;
    font-size: 1.3em;
    overflow-x: scroll;
    border-radius: 20px;
}
h1{
    text-align: center;
}
